*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
/.emacs.d/el-get
/.emacs.d/url
.emacs.d/ac-comphist.dat
.emacs.d/elpa
.emacs.d/recentf
.elc
.agignore
auto-save-list
tramp
.\#*
build.log
*.elc
*.orig
*.rej
.DS_Store

*.swp
bower_components
.emacs.d/projectile-bookmarks.eld
.vscode
