[submodule ".emacs.d/vendor/gist.el"]
	path = .emacs.d/vendor/gist.el
	url = git://github.com/defunkt/gist.el.git
[submodule ".emacs.d/vendor/coffee-mode"]
	path = .emacs.d/vendor/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule ".emacs.d/vendor/undo-tree"]
	path = .emacs.d/vendor/undo-tree
	url = git://github.com/emacsmirror/undo-tree.git
