[user]
	name = onjiro
	email = onjiro.mohyahya@gmail.com
[core]
	excludesfile = ~/.gitignore
	quotepath = false
	editor = emacsclient -nw
[aliad]
	co = checkout
[alias]
	co = checkout
	st = status
	br = branch
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
