[submodule ".emacs.d/vendor/gist.el"]
	path = .emacs.d/vendor/gist.el
	url = git://github.com/defunkt/gist.el.git
[submodule ".emacs.d/vendor/coffee-mode"]
	path = .emacs.d/vendor/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule ".emacs.d/vendor/undo-tree"]
	path = .emacs.d/vendor/undo-tree
	url = git://github.com/emacsmirror/undo-tree.git
[submodule ".emacs.d/vendor/gh.el"]
	path = .emacs.d/vendor/gh.el
	url = git://github.com/sigma/gh.el.git
[submodule ".emacs.d/vendor/pcache"]
	path = .emacs.d/vendor/pcache
	url = git://github.com/sigma/pcache.git
[submodule ".emacs.d/vendor/logito"]
	path = .emacs.d/vendor/logito
	url = git://github.com/sigma/logito.git
[submodule ".emacs.d/vendor/zencoding"]
	path = .emacs.d/vendor/zencoding
	url = git://github.com/rooney/zencoding.git
[submodule ".emacs.d/vendor/platform-p"]
	path = .emacs.d/vendor/platform-p
	url = git://github.com/ongaeshi/platform-p.git
[submodule ".emacs.d/vendor/magit"]
	path = .emacs.d/vendor/magit
	url = git://github.com/magit/magit.git
[submodule ".emacs.d/vendor/auto-complete"]
	path = .emacs.d/vendor/auto-complete
	url = git://github.com/auto-complete/auto-complete.git
[submodule "z"]
	path = z
	url = git://github.com/rupa/z.git
